@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500|Exo:100,200,300,400,500');

header {
    margin: 0;
}

.logo {
    background: url(../images/Monkees_red.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}